<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	

	<script>

	</script>
    <title>Study List</title>
  </head>

  <body>
		<div data-role="page" id="studyListPage">
			<div data-role="header">
							<h1>Study List</h1>	
			</div>
			<div data-role="content">
					<ul data-role="listview" data-inset="true">
						<li  th:each="study : ${studyList}" ><a th:href="@{'/subjectDataList?studyId=' + ${study.id}}"  data-ajax="false"> <span th:text="${study.studyName}" /></a>
						</li>
					</ul>
			</div>
		</div>
  </body>
</html>