<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	

    <title>Study</title>
  </head>
  <body>
  <form method="POST" action="study" id="study-form" name="study-form" data-ajax="false">
  	<div data-role="page" id="study-page"> 
  		<div data-role="header"> 
  			<h1>Study</h1>
  		</div>
  		<div data-role="content">
  		</div>
  	</div>
  </form>
  </body>  